.todo-item{
  cursor: pointer;
  background-color: #000;
  margin: 5px 0px;
}

.phoneCards-container{
  width: 100%;
}

.phoneCard-item{
  background-color: #252525;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
ul.task-list{
  width: 100%;
  padding: 10px 0;
}

.todo-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #111111ee;
  color: white;
  width: fit-content;
  max-width: 500px;
  margin: 10px;
  box-shadow: 5px 5px 10px #616161;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.todo-card input, .todo-card textarea{
  padding: 5px 10px;
  outline: none;
  width: 95%;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
  
}

.todo-card textarea{
  margin-top: 24px;
  margin-bottom: 16px;
  height: 70px;
}
.main-taskcontainer{
  background-color: #191919;
  width: 100%;
  padding: 10px !important;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task-container{
  display: flex;
  justify-content: space-between;
}

.task-btn-container{
  display: flex;
  gap: 10px;
}

.task-detail p{
  font-size: 0.9em;
  margin-top: 3px;
}

.task-btn-container button, .list-heading button{
  background-color: #2b2b2b;
  border: 1px solid #fff;
  height: 100%;
  width: auto;
  font-size: 1.2rem;
  border-radius: 100px;
  cursor: pointer;
}
.task-btn-container button{
}
@media screen and (max-width: 700px) {
  .task-btn-container button, .list-heading button{
    font-size: 0.8rem;
  }
  .todo-card{
    width: 90%;
  }
}

.task-des{
  display: none;
  margin-top: 10px;
  background-color: #282828;
  padding: 10px;
}

.show{
  display: block;
}

.list-heading{
  align-items: center;
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.list-heading button{
  position: absolute;
  right: 15px;
}
.box{
  border: 2px solid #fff;
  margin: 10px;
  color:whitesmoke;
  padding: 10px;
}